<ion-header>
    <ion-navbar hideBackButton>
      <ion-buttons start>
        <button (click)="previousIngredientGroup()" ion-button icon-left clear>
          <ion-icon *ngIf="ingredientGroupIndex > 0" name="arrow-back"></ion-icon>
          {{ ingredientGroupIndex == 0 ? "Cancel" : "Back" }}
        </button>
      </ion-buttons>

      <ion-title>{{ingredientGroup?.selectedTranslation ? ingredientGroup.selectedTranslation.name : "No translation"}}</ion-title>

      <ion-buttons end>
        <button (click)="nextIngredientGroup()" ion-button icon-right clear>
          {{ ingredientGroupIndex + 1 < item.ingredientGroups.length ? "Next" : "Done" }} 
          <ion-icon *ngIf="ingredientGroupIndex + 1 < item.ingredientGroups.length" name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="item && ingredientGroup">
  </ion-item>

</ion-content>
