<ion-header>
    <ion-navbar hideBackButton>
      <ion-buttons start>
        <button (click)="previousIngredientGroup()" ion-button icon-left clear>
          <ion-icon *ngIf="ingredientGroupIndex > 0" name="arrow-back"></ion-icon>
          {{ ingredientGroupIndex == 0 ? ('ingredientGroup.cancelButton'|translate) : ('ingredientGroup.cancelButton'|translate) }}
        </button>
      </ion-buttons>
          <ion-title>{{item.selectedTranslation ? item.selectedTranslation.name : "No translation"}} (Total: ${{totalStr}})</ion-title>
      <ion-buttons end>
        <button (click)="nextIngredientGroup()" [disabled]="ingredientGroup.minNumberOfIngredients > ingredientCount" ion-button icon-right clear>
          {{ ingredientGroupIndex + 1 < item.ingredientGroups.length ? ('ingredientGroup.nextButton'|translate) : ('ingredientGroup.doneButton'|translate) }}
          <ion-icon *ngIf="ingredientGroupIndex + 1 < item.ingredientGroups.length" name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll scrollX="true" scrollY="true" class="mini-menu">
      <button ion-button class="btnCat" color="danger" *ngFor="let inGroup of item.ingredientGroups; let i = index" (click)="changeGroup(i, inGroup)" [ngClass]="{'btnCat-selected': currentIngredientGroup == inGroup }">
              {{inGroup.selectedTranslation ? inGroup.selectedTranslation.name : "No translation"}}
          </button>
  </ion-scroll>
  <div *ngIf="ingredientGroup">
    <h1 class="ingredientGroup-name">{{'ingredientGroup.title'|translate}} {{ingredientGroup?.selectedTranslation ? ingredientGroup.selectedTranslation.name : "No translation"}} </h1>
    <h2 class="ingredientGroup-subtitle">{{'ingredientGroup.detail'|translate}} {{ingredientGroup.maxNumberOfIngredients}} {{'ingredientGroup.title2'|translate}} </h2>
  </div>
 <ion-list *ngIf="item && ingredientGroup && orderableIngredients">
    <ion-item class="ingredient-item" *ngFor="let orderableIngredient of orderableIngredients; let i = index">
      <ion-label>{{orderableIngredient.ingredient.translations[0].name}} ${{orderableIngredient.ingredient.price.toFixed(2)}}</ion-label>
      <ion-checkbox *ngIf="orderableIngredient.ingredient.allowQuantity == 1" [checked]="orderableIngredient.amount > 0" [disabled]="orderableIngredient.disabled" (ionChange)="selectIngredient(orderableIngredient)"></ion-checkbox>
      <button *ngIf="orderableIngredient.ingredient.allowQuantity > 1"  (click)="removeIngredient(orderableIngredient, false)" [disabled]="orderableIngredient.amount == 0" ion-button item-right clear>{{'ingredientGroup.removeButton'|translate}}<ion-icon name="ion-minus-circled"></ion-icon></button>
      <p *ngIf="orderableIngredient.ingredient.allowQuantity > 1" item-right>{{orderableIngredient.amount}}</p>
      <button *ngIf="orderableIngredient.ingredient.allowQuantity > 1" (click)="addIngredient(orderableIngredient)" [disabled]="orderableIngredient.disabled || orderableIngredient.amount == orderableIngredient.ingredient.allowQuantity" ion-button item-right clear>{{'ingredientGroup.addButton'|translate}}<ion-icon name="add-circle"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
