page-ingredient-group {

    .mini-menu {
        height: 100px;
        background-color: #ececec;
    }

    .btnCat {
      margin: 8px 10px;
      height: 80px;
      width: 150px;
      font-family: Maven Pro;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 1px;
      white-space: normal;
      line-height: 23px;
      text-transform: uppercase;

      background: transparent;
      border: 2px solid #e74c3c;
      color: #e74c3c;
      border-radius: 6px;

    }

    .btnCat-selected {
      background: color($colors, danger);
      // border: 2px solid #e74c3c;
      color: #FFF;
    }

    .btnCat:hover {
      background: color($colors, danger);
      color: #FFF;
    }

    .ingredientGroup-name {
      font-family: 'OpenSans Condensed';
      font-size: 44px;
      text-transform: uppercase;

    }

    .ingredientGroup-subtitle {
      font-family: 'OpenSans Condensed';
      font-size: 21px;
      letter-spacing: 1px;
      margin-left: 5px;

    }

    .ingredient-item {
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-size: 23px;
      padding: 10px 0px;
    }

}
