<div id="restaurantList">
    <div class="manage-header">
    <h2>Restaurants Management</h2>
    <h5 style="color:#777"><small>List of all your restaurant(s)</small></h5>
       <div class="manage-button">
        <button (click)="add()" class="btn btn-success btn-green">+ Add Restaurant</button>
        </div>
        <hr>
    </div>
        
  <div  class="row restaurantListContainer">
    <div class="col-lg-3" *ngFor="let restaurant of restaurants; let i = index">
      <div (click)="modify(restaurant)" class="card card-primary card-inverse">
        <div class="card-header card-primary">
          {{ restaurant.selectedTranslation.name }}
        </div>
        <div class="card-block bg-white">
          {{ restaurant.selectedTranslation.description }} <br>
            {{ restaurant.address }}
        </div>
      </div>
    </div>

    <div class="col-lg-3">
    </div>

  </div>
</div>
