<div id="menu">
  <div class="manage-header">
    <h2>{{ menu?.id ? "Edit Menu" : "Create Menu" }}</h2>
    <h5 class="subtitle">
      <small>Change Menu Settings</small>
    </h5>
    <hr>
  </div>

  <div class="formContainer">

    <form id="menuForm" role="form">

      <div class="form-group">
        <label>Menu Name</label>
        <input id="name" class="form-control" name="name" placeholder="ex: Lunch Menu" value="{{menu?.name }}">
      </div>


        <div class="row" *ngIf="!create && !menuCatUndefinedYet">

          <h3>Selected Categories</h3>
          <div *ngFor="let category of userSelectedCategories">
            <ul class="col col-lg-12">
              <i class="fa fa-fw fa-minus-square" (click)="deleteCatClick($event, category.id)"></i>
                {{category.categoryName}}
            </ul>
          </div>

            <h3>Available Categories</h3>
            <div *ngFor="let category of availableCategories">
              <ul class="col col-lg-12">
                <i class="fa fa-fw fa-plus-square" (click)="addCatClick($event, category.id)"></i>
                 {{category.categoryName}}
              </ul>
            </div>
        </div>


      <div class="row">
        <div class="manage-button">
          <button *ngIf="!create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">Save</button>
          <button *ngIf="!create" type="button" (click)="delete()" class="btn btn-danger btn-red">Delete</button>
          <button *ngIf="create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">Create</button>
          <button class="btn btn-default btn-normal" (click)="cancel()" type="button">Cancel</button>
        </div>
      </div>
    </form>

    </div>
  </div>
