<div id="menu">
  <div class="manage-header">
    <h2>{{ menu?.id ? ('menu.titleEdit' | translate) : ('menu.titleCreate' | translate) }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div *ngIf="menu" class="form-container">
    <form id="menuForm" role="form">

      <div class="form-group">
        <label>{{ 'menu.menuName' | translate}}</label>
        <input id="name" class="form-control" name="name"
          placeholder="{{ 'menu.menuNameFieldHolder' | translate}}"
          required
          [(ngModel)]="menu?.selectedTranslation.name" name="name" #name="ngModel"
          [ngClass]="{'form-error': !name.valid && !name.pristine}">
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Available Categories</label>
          <ul class="list-group scrollable-list">
            <li *ngFor="let category of availableCategories" class="list-group-item"> {{category.translations[0].name}}
              <i class="fa fa-chevron-circle-right icon-add icon-align fa-pull-right"
                 (click)="addCategoryToMenu(category)"></i>
            </li>
          </ul>
          <div [hidden]="availableCategories.length != 0">
            <i class="fa fa-exclamation-circle"></i> There are no categories left to add
          </div>
        </div>
        <div class="col-md-6">
          <label>Added Categories</label>
          <ul class="added-categories scrollable-list">
            <li *ngFor="let categoryCheckboxList of itemCategories; let i = index">
              <div class="added-category">
                <div>
                  <i class="fa fa-chevron-up increase-decrease-order-icon" (click)="changeOrder(categoryCheckboxList, -1)"></i>
                  <i class="fa fa-chevron-down increase-decrease-order-icon" (click)="changeOrder(categoryCheckboxList, 1)"></i>
                </div>
                <div class="added-category-name">
                  {{categoryCheckboxList.category.translations[0].name}}
                  <i class="fa fa-times-circle icon-remove icon-align fa-pull-right"
                     (click)="removeCategoryFromMenu(categoryCheckboxList)"></i>
                </div>
              </div>
              <div class="category-separator"></div>
              <ul class="category-items">
                <li *ngFor="let itemCheckbox of categoryCheckboxList.items; let j = index">
                  <label><input type="checkbox" name="itemCheck{{i}}{{j}}" [(ngModel)]="itemCheckbox.enabled" (change)="selectItem(categoryCheckboxList, itemCheckbox)"> {{itemCheckbox.item.translations[0].name}}</label>
                </li>
              </ul>
            </li>
          </ul>
          <div [hidden]="menu.categories.length != 0">
            <i class="fa fa-exclamation-circle"></i> Add some categories to this menu
          </div>
        </div>
      </div>

      <div class="row">
        <div class="manage-button">
          <button *ngIf="!create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">{{
            'menu.saveButton' | translate}}
          </button>
          <button *ngIf="!create" type="button" (click)="delete()" class="btn btn-danger btn-red">{{ 'menu.deleteButton'
            | translate}}
          </button>
          <button *ngIf="create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">{{
            'menu.createButtonTopbar' | translate}}
          </button>
          <button class="btn btn-default btn-normal" (click)="cancel()" type="button">{{ 'menu.cancelButtonTopbar' |
            translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
