<div class="container-fluid">
  <h4>Restaurants <span class="label label-default"> {{ numOfRestaurants }} </span></h4>
  <div  class="row">
    <div class="col-lg-3" *ngFor="let restaurant of restaurants; let i = index">
      <div (click)="modify(restaurant)" class="card card-primary card-inverse">
        <div class="card-header card-primary">
          {{ restaurant.name }}
        </div>
        <div class="card-block bg-white">
          {{ restaurant.description }}
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <button (click)="add()" class="btn btn-success">Add</button>
    </div>

  </div>
</div>
