<style>
.content{
	padding: 10%;
}

.loginBtn{
	border: 2px solid white;
	background-color: rgba(0, 255, 0, 0.4);
	width: 30%;
}

.loginBtn:hover{
	background-color: rgba(255, 87, 34, 0.8);

}

.registerBtn{
	border: 2px solid white;
	background-color: rgba(0, 0, 255, 0.4);
	width: 30%;
}

.registerBtn:hover{
	background-color: rgba(255, 87, 34, 0.8);
}

a {
	color: white;
}
.inputField{
	border: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding: 2%;
	width: 80%;
}

::-webkit-input-placeholder {
	color: rgb(255,255,255);
}
:-moz-placeholder { /* Firefox 18- */
	color: rgb(200,200,200);
}
::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(200,200,200);
}
:-ms-input-placeholder {
	color: rgb(200,200,200);
}
</style>

<div style="background-image: url('assets/img/background-restaurantsm.jpg'); height: 600px;">


	<table style="width:100%; height:100%;">
		<tr>
			<!-- left container : logo -->
			<td align="center" rowspan="2" style="width:60%;">
				<img src="assets/img/logo.png">
			</td>
			<!-- right container : top cell: regs lang | bottom cell: login form -->
			<td style="height:30px; text-align:right; padding-right:5%; color:white;">

				<!-- register link emplacement -->
				<a type="submit" routerLink="/signup"><span style="font-weight: bold;">Register</span></a> &emsp;|&emsp;

				<!-- language emplacement -->
				<i class="fa fa-globe" aria-hidden="true"></i> &nbsp; English
			</td>
			<tr>
			<!-- bottom cell : login form -->
			<td align="center" style="background-color: rgba(0, 0, 0, 0.7);">
				<div class="content">
					<span style="font-size:62px; font-weight:bold; color: white;">Hello</span><br>
					<span style="font-size:16px; color: white;">Please enter your login information</span>
					<!-- login elements form -->
					<form role="form">
						<div class="form-content">
							<!-- input box for login -->
							<div class="form-group">
								<input type="text" ng-model="name" class="inputField" id="" placeholder="Email">
							</div>
							<!-- input box for password-->
							<div class="form-group">
								<input type="password" class="inputField" id="" placeholder="Password">
							</div>
						</div>
						<!-- buttons -->
						<a class="btn rounded-btn loginBtn" routerLink="/dashboard/home"> Log in </a>
						&nbsp;

					</form>
					<!-- end of login -->
				</div>
			</td>
		</tr>
	</table>

</div>
