<div *ngIf="item" class="manage-content">
  <div class="manage-header">
    <h2>{{create? ('foodItem.titleCreate' | translate) : ('foodItem.titleEdit' | translate) }}</h2>
    <h5 class="subtitle">
      <small>{{ 'foodItem.sousTitleFoodItemsetting' | translate }}</small>
    </h5>
    <hr>
  </div>
  <div class="formContainer">
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
      <div class="col-sm-7">
        <div class="form-group">
          <label for="name">{{ 'foodItem.foodItemName' | translate }}</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="item.selectedTranslation.name" name="name"
                 #name="ngModel">
        </div>

        <div class="form-group">
          <label for="name">{{ 'foodItem.foodItemDescription' | translate }}</label>
          <textarea type="text" rows="3" class="form-control" id="description"
                 [(ngModel)]="item.selectedTranslation.description" name="description"
                    #description="ngModel"></textarea>
        </div>
        <div>
          <table class="table table-sm td-size-table">
            <thead>
            <tr>
              <th>{{ 'foodItem.foodItemSize' | translate }}</th>
              <th>{{ 'foodItem.foodItemPrice' | translate }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let size of item.sizes">
              <td>{{size.name}}</td>
              <td>{{size.price | currency:'USD':true:'1.2-2'}}</td>
              <td>
                <button class="fa fa-times-circle icon-remove icon-align" (click)="removeSize(size)"></button>
              </td>
            </tr>
            <tr class="td-size-input">
              <td><input class="form-control" type="text" [(ngModel)]="size.name" name="sizeName"
                         placeholder="Size Name">
              </td>
              <td>
                <div class="input-group"><span class="input-group-addon">$</span>
                  <input class="form-control" #price="ngModel" id="price" [(ngModel)]="size.price" name="price"
                         type="number">
                </div>
              </td>
              <td>
                <button class="fa fa-plus-circle icon-add icon-align" [disabled]="!size.name"
                        (click)="addSize()"></button>
              </td>
            </tr>
            </tbody>
          </table>
          <div [hidden]="item.sizes != 0">
            <i class="fa fa-exclamation-circle"></i> {{ 'foodItem.foodItemSizeWarningDetail' | translate }}
          </div>
        </div>

      <div id="menu-lang" class="edit-section">
        <h5>{{ 'foodItem.langTitle' | translate }}</h5>
        <div class="row">
            <div class="col col-md-5">
                <ul class="list-group">
                    <li *ngFor="let language of supportedLanguages" class="list-group-item"> {{language.name}}<i class="fa fa-times-circle icon-remove icon-align fa-pull-right" (click)="removeLanguage(language)"></i></li>
              </ul>
            </div>
            <div class="col col-md-4 col-md-offset-1">
              <div class="form-group input-group">
                  <label for="language">{{ 'foodItem.langSelect' | translate }}</label>
                  <select name="language" class="form-control" [(ngModel)]="addedLanguage">
                   <option *ngFor="let language of languages" [ngValue]="language.languageCode">{{language.name}}</option>
                  </select>
              </div>
            </div>
            <div class="col col-md-2" style="padding-top:10px"><br>
              <button class="btn btn-success btn-green" (click)="addLanguage()" type="button">{{ 'foodItem.saveButton' | translate }}</button>
            </div>
        </div>
      </div>

        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          {{ 'foodItem.foodItemNameAlert' | translate }}
        </div>

      </div>
      <div class="col-sm-5 image-crop-div">
        <img-cropper [(hidden)]="pictureMode != pictureModes.Crop"
                     class="card-img-top img-thumbnail img-thumbnail-cust item-image-upload"
                     [image]="croppedImageContainer" [settings]="cropperSettings">
        </img-cropper>

        <span class="result" *ngIf="pictureMode != pictureModes.Crop">
          <img [src]="croppedImage" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span>
        <div style="width: 300px">
          <button class="btn-upload-image btn-primary btn" type="button" (click)="selectFile()">
            {{pictureMode != pictureModes.Crop ? pictureMode == pictureModes.CropSelected? ('foodItem.foodItemRecroppedImgMsg' | translate): pictureMode == pictureModes.Select? ('foodItem.foodItemAddImgMsg' | translate): ('foodItem.foodItemChangeImgMsg' | translate): ('foodItem.foodItemSelectCroppedImgMsg' | translate)}}
          </button><!--
          --><button class="btn btn-danger fa fa-times-circle btn-clear-image" type="button" (click)="clearImage()"></button>
        </div>
        <input style="display: none;" type="file" name="itemImage" class="item-image-select"
               (change)="onChange($event)" title="Upload an image for this item" accept="image/*"/>
      </div>

      <div class="row">
        <div class="manage-button">
          <button type="submit" class="btn btn-success btn-green"
                  [disabled]="!itemForm.form.valid || item.sizes.length == 0">{{ create? ('foodItem.createButtonTopbar' | translate)  : ('foodItem.saveButton' | translate)}}
          </button>
          <button *ngIf="!create" type="button" (click)="deleteItem()" class="btn btn-danger btn-red">{{ 'foodItem.deleteButton' | translate }}</button>
          <button class="btn btn-default btn-normal" (click)="cancelItem()" type="button">{{ 'foodItem.cancelButtonTopbar' | translate }}</button>
        </div>
      </div>
    </form>
    <div *ngIf="uploading" class="row progress-div">
      <progress class="progress progress-success progress-striped progress-animated" max="100" [(value)]="progress" ></progress>
    </div>
  </div>
</div>
