page-home {
    
  ion-content {
        background-image: url('../../assets/img/food-bg-blur.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        
        color: #fff !important;
    }
     .scroll-content {
        background-color: rgba(0, 0, 0, 0.2);   
    }
}
