<ion-header>
    <ion-navbar hideBackButton>
      <ion-buttons start>
        <button (click)="cancel()" ion-button icon-left clear>
          <ion-icon name="arrow-back"></ion-icon>
          Cancel
        </button>
      </ion-buttons>
      <ion-title>Order Food Items</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item id="food-item" *ngFor="let food of foodList">
      <p id="food-item-name">{{food.item.selectedTranslation.name}} ({{food.size.size.selectedTranslation.name}})</p>
      <div *ngIf="food.size.selectedIngredients">
        <p *ngFor="let ingredient of food.size.selectedIngredients.ingredients">- {{ingredient.ingredient.translations[0].name}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
