<ion-header>
  <ion-navbar>
  <!-- Menu toggle button will be removed -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h1 text-center>Welcome to (Restaurant Name) RestoTouch Virtual Menu</h1>
	<br><h5> </h5>
	<ion-item>
		<ion-label>Please select a menu language:</ion-label>
		<ion-select [(ngModel)] = "selectedLanguage">
			<ion-option *ngFor="let language of languages">{{language}}</ion-option>
		</ion-select>
	</ion-item>
	<div padding>
	<button ion-button outline (click)="continueTapped($event)">Continue</button>
	</div>
</ion-content>

<!-- Restaurant's languages
<ion-content padding>
	<h1 text-center>Welcome to {{selectedRestaurant.translations[0].name}}'s RestoTouch Virtual Menu</h1>
	<br><h5> </h5>
	<ion-item>
		<ion-label>Please select a menu language:</ion-label>
		<ion-select [(ngModel)] = "selectedLanguage">
			<ion-option *ngFor="let language of selectedRestaurant.supportedLanguages">{{language}}</ion-option>
		</ion-select>
	</ion-item>
	<div padding>
	<button ion-button outline>Continue</button>
	</div>
</ion-content>

-->

