<div class="row loginPageContainer">
    <div class="col col-md-7 logoContainer">
        <img src="assets/img/logo.png">
    </div>
    <div class="col col-md-5 loginFormContainer">
        <!-- register/language emplacement -->
        <div class="row loginFormNav">
            <a type="submit" routerLink="/"><span style="font-weight: bold;">Log In</span></a> &emsp;|&emsp;
        <i class="fa fa-globe" aria-hidden="true"></i> &nbsp; English
        </div>

        <!-- login form -->
        <div class="row loginPageContent">
        <div class="row loginFormHeader">
            <h1 class="loginPageTitle">Hello</h1>
            <p class="loginPageBodyText">Join RestoTouch today.</p>
        </div>
        <!-- login elements form -->
        <form role="form" (ngSubmit)="onSubmit()">
            <div class="form-group">

             <!-- input box for first name -->
              <input type="text" class="form-control input-underline input-lg" id="firstName"
                     placeholder="First Name"
                     required
                     [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel">
            </div>
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
              First Name is required
            </div>
            <!-- input box for last name -->
            <div class="form-group">
              <input type="text" class="form-control input-underline input-lg" id="lastName"
                     placeholder="Last Name"
                     required
                     [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel">
            </div>
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
              Last Name is required
            </div>
            <!-- input box for email -->
            <div class="form-group">
              <input type="email" class="form-control input-underline input-lg" id="email"
                     placeholder="Email"
                     [(ngModel)]="user.email" name="email" #email="ngModel">
            </div>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              A valid email is required
            </div>
            <!-- input box for password -->
            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" id="password"
                     placeholder="Password"
                     required
                     [(ngModel)]="user.password" name="password" #password="ngModel">
            </div>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              A password is required
            </div>

            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" id="passRepeat"
                     required
                     [(ngModel)]="user.passwordConfirm"
                     placeholder="Repeat Password" name="passRepeat" #passRepeat="ngModel">
            </div>
            <div [hidden]="passRepeat.valid || passRepeat.pristine" class="alert alert-danger">
              Please repeat your password
            </div>

            <div [hidden]="!errorMessage" class="alert alert-danger">
              {{errorMessage}}
            </div>

            <button type="submit" class="btn btn-success loginBtn rounded-btn"> Register </button>
          </form>

        </div>
    </div>
</div>
