<div class="manage-content">
  <div class="manage-header">
    <h2>{{ 'foodItem.titleManage' | translate }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <div class="manage-button">
      <button id="addItemBtn" (click)="add()" class="btn btn-success btn-green">{{ 'foodItem.addFoodItemButtonManage' | translate }}
      </button>
    </div>
    <hr>
  </div>
  <div class="form-container">
    <div class="row">
      <div class="col-lg-12">
        <span class="dropdown nav-item" dropdown>
          <button id="ascending-button" (click)="sortItems()" class="nav-link text-primary">
            <span *ngIf="sortAscending != 2">Ascending <i class="fa fa-angle-up" aria-hidden="true"></i></span>
            <span *ngIf="sortAscending == 2">Descending <i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label class="filter-label">Filter
          <input id="filterquery" class="form-control filter-input" name="filterquery"
                 [(ngModel)]="filterQuery" name="filterquery" #filterquery="ngModel">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 d-flex flex-row" *ngFor="let item of items | itemFilter:filterQuery:sortAscending">
        <div (click)="modify(item)" class="card">
          <img class="card-img-top img-thumbnail img-thumbnail-cust" [src]="item.imageUrl ? item.imageUrl : '../assets/img/simple-utensil.png'"/>
          <div class="card-block">
            <h4 class="card-title text-center item-name">{{ item.selectedTranslation ? item.selectedTranslation.name : "No translation" }} </h4>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
