<div class="manage-content">
  <div class="manage-header">
    <h2>{{ 'foodItem.titleManage' | translate }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <div class="manage-button">
      <button id="addItemBtn" (click)="add()" class="btn btn-success btn-green">{{ 'foodItem.addFoodItemButtonManage' | translate }}
      </button>
    </div>
    <hr>
  </div>
  <div class="form-container">
    <div class="row">
      <span class="dropdown nav-item" dropdown>
        <button id="ascending-button" (click)="sortItems()" class="nav-link dropdown-toggle text-primary" dropdownToggle>
          Ascending <span class="caret"></span>
        </button>
      </span>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2" style="max-width:300px;" *ngFor="let item of items">
        <div (click)="modify(item)" class="card">
          <img class="card-img-top img-thumbnail img-thumbnail-cust" [src]="item.imageUrl"/>
          <div class="card-block" style="overflow: hidden;">
            <h4 class="card-title text-center">{{ item.selectedTranslation ? item.selectedTranslation.name : "No translation" }} </h4>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
