<div class="manage-list">
    <div class="manage-header">
    <h2 *ngIf="restaurant">{{ restaurant?.translations[0]?.name }} Menu</h2>
    <h2 *ngIf="!restaurant">Manage Menus</h2>
    <h5 class="subtitle">
        <small *ngIf="!restaurant">You can select any menu below to make changes</small>
        <small *ngIf="restaurant">You can select all menus that apply</small>
    </h5>
       <div class="manage-button">
           <button *ngIf="!restaurant" (click)="add()" class="btn btn-success btn-green">+ Add Menu</button>
        <button *ngIf="restaurant" (click)="updateRestaurantMenu()" class="btn btn-success btn-green">Confirm</button>
        <button *ngIf="restaurant" (click)="cancel()" class="btn btn-default btn-normal">Cancel</button>
        </div>
        <hr>
    </div>
    <div class="manage-list-container">
    <div class="row">
    <div class="col-sm-3" *ngFor="let menu of menus; let i = index">
      <div (click)="modify(i, menu)" class="card card-block" [ngClass]="{'selected-menu': menusInRestaurant[i]}">
        <h4 class="card-title">{{ menu.selectedTranslation.name }} <i *ngIf="menusInRestaurant[i]" class="fa fa-check icon-corner" aria-hidden="true"></i></h4>
        
           <h6 style="margin:0">Items <span class="label label-default"> 0 </span></h6>
<!--            <span *ngFor="let menu of restaurant?.Menus;" class="label label-info label-menu-name">{{ menu.name }}</span>-->
           
            
      </div>
    </div>

  </div>
    </div>
    
</div>


<!--

<div class="container-fluid">
  <h1 class="page-header">{{ restaurant?.translations[0]?.name }} Menus <span class="label label-default"> {{ numOfMenus }} </span></h1>
  <div class="container-fluid">
    <div  class="row">
      <div class="col-lg-3" *ngFor="let menu of menus; let i = index">
        <div [ngClass]="{'card-success': menusInRestaurant[i], 'card-primary': !menusInRestaurant[i]}" (click)="modify(i, menu)" class="card card-inverse">
          <div [ngClass]="{'card-success': menusInRestaurant[i], 'card-primary': !menusInRestaurant[i]}" class="card-header">
            {{ menu.name }}
            <i *ngIf="menusInRestaurant[i]" class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="card-block bg-white"></div>
        </div>
      </div>

      <div class="col-lg-4">
        <button *ngIf="!restaurant" (click)="add()" class="btn btn-success">Add</button>
        <button *ngIf="restaurant" (click)="updateRestaurantMenu()" class="btn btn-primary">Confirm</button>
        <button *ngIf="restaurant" (click)="cancel()" class="btn btn-secondary">Cancel</button>
      </div>

    </div>
  </div>

</div>
-->
