<div id="restaurant">
  <div class="manage-header">
    <h2>Profile Information</h2>
    <h5 class="subtitle">
      <small>View and edit your account information below</small>
    </h5>
    <div class="row">
    	<div class="manage-button">
		    <button *ngIf="!editing && !editPass" (click)="edit()" class="btn btn-success btn-green" type="button">Edit</button>
		    <button *ngIf="!editing && !editPass" (click)="editPassword()" class="btn btn-danger btn-red" type="button">Change Password</button>
		    <button *ngIf="editing || editPass" (click)="save()" class="btn btn-success btn-green" type="button">Save</button>
		    <button *ngIf="editing || editPass" (click)="cancel()" class="btn btn-default btn-normal" type="button">Cancel</button>
		</div>
	</div>
    <hr>
  </div>
  <div *ngIf="!editing && !editPass" class="manage-list-container">
  	<alert *ngIf="!hideMessageSuccess" type="success">
       	Your profile information was saved successfully.
    </alert>
    <h5>First Name</h5>{{user.firstName}}<br><br>
    <h5>Last Name</h5>{{user.lastName}}<br><br>
    <h5>Email</h5>{{user.email}}<br><br>
  </div>
  <div *ngIf="editing" class="formContainer" #formContainer>
  	<form id="profileInfo" role="form">
  		<div class="form-group">
          <h5>First Name</h5>
          <input id="firstName" class="form-control" name="firstName"
                 required
                 [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel"
                 [ngClass]="{'form-error': !firstName.valid && !firstName.pristine}">
        </div>
        <div class="form-group">
          <h5>Last Name</h5>
          <input id="lastName" class="form-control" name="lastName"
                 required
                 [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel"
                 [ngClass]="{'form-error': !lastName.valid && !lastName.pristine}">
        </div>
        <div class="form-group">
          <h5>Email</h5>
          <input id="email" class="form-control" name="email"
                 required
                 [(ngModel)]="user.email" name="email" #email="ngModel"
                 [ngClass]="{'form-error': !email.valid && !email.pristine}">
        </div>
    </form>
  </div>
  <div *ngIf="editPass" class="formContainer" #formContainer>
    	<form id="password" role="form">
	        <div class="form-group">
	        	<h5>Enter New Password</h5>
	              <input id="password" class="form-control" name="password"
	                 required
	                 [(ngModel)]="user.password" name="password" #password="ngModel"
	                 [ngClass]="{'form-error': !password.valid && !password.pristine}">
	        </div>
	        <div class="form-group">
	        	<h5>Repeat your password</h5>
	              <input id="passwordConfirm" class="form-control" name="passwordConfirm"
	                 required
	                 [(ngModel)]="user.passwordConfirm" name="password" #passwordConfirm="ngModel"
	                 [ngClass]="{'form-error': !passwordConfirm.valid && !passwordConfirm.pristine}">
	        </div>
    	</form>
    </div>
<div>