<div class="manage-list">
  <div class="manage-header">
    <h2>{{'category.titleManage' | translate}}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <div class="manage-button">
      <form class="form-inline">
        <button type="button" class="btn btn-success btn-green" (click)="add()">{{'category.addcatButtonManage' |
          translate}}
        </button>
      </form>
    </div>
    <hr>
  </div>
  <div class="manage-list-container">
    <div class="col-sm-3" *ngFor="let category of categories; let i = index">
      <div (click)="modify(category)" class="card card-block">
        <h4 class="card-title">{{ category.selectedTranslation ? category.selectedTranslation.name : "No translation"}} </h4>
        <h6 style="margin:0">{{'category.itemsCard' | translate}} <span class="label label-default"> 0 </span></h6>
      </div>
    </div>

  </div>

</div>
