<div class="row loginPageContainer">
    <div class="col col-md-7 logoContainer">
        <img src="assets/img/logo2.png">
    </div>
    <div class="col col-md-5 loginFormContainer">
        <!-- register/language emplacement -->
        <div class="row loginFormNav">
            <a type="submit" routerLink="/signup"><span style="font-weight: bold;">{{ 'login.register' | translate }}</span></a>
            &emsp;|&emsp;<i class="fa fa-globe" aria-hidden="true"></i> &nbsp;
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option value="en" [selected]="'en' === translate.currentLang">English </option>
          <option value="fr" [selected]="'fr' === translate.currentLang">Français </option>
        </select>
        </div>

        <!-- login form -->
        <div class="row loginPageContent">
        <div class="row loginFormHeader">
            <h1 class="loginPageTitle">{{ 'login.titleHeader' | translate }}</h1>
            <p class="loginPageBodyText">{{ 'login.bodyTextHeader' | translate }}</p>
        </div>

        <!-- login elements form -->
        <form role="form" (ngSubmit)="onSubmit()">
            <div class="form-content">
                <!-- input box for email-->
                <div class="form-group">
                    <input type="email" class="form-control input-underline input-lg" id="email" placeholder="{{ 'login.emailHolderFieldForm' | translate }}" required
            [(ngModel)]="user.email" name="email" #email="ngModel">
                </div>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> {{ 'login.emailRequiredAlert' | translate }}</div>

                <!-- input box for password-->
                <div class="form-group">
                    <input type="password" class="form-control input-underline input-lg" id="password" placeholder="{{ 'login.passwordHolderFieldForm' | translate }}" required
            [(ngModel)]="user.password" name="password" #password="ngModel">
                </div>
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">{{ 'login.passwordRequiredAlert' | translate }}</div>
                <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                <!-- buttons -->
                <button id="loginBtn" type="submit" class="btn btn-success loginBtn rounded-btn">{{ 'login.logButton' | translate }}</button></div>
        </form>
        </div>
    </div>
</div>
