page-login {
    color: #fff;
//    background-color: #4a4747 !important;
    
    ion-content.content-md {
//        background-image: url('../../assets/img/gradient.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        
        color: #fff !important;
    }
    
    
    div.logo-container {
        margin: 150px auto 0;
        text-align: center;
    }
    
    form ion-item {
        background: transparent !important;  
        color: #fff;
    }
    
    ion-list.login {
        margin-top: 215px;
        margin-bottom: 30px;
    }
    
    .login-list {
        padding: 0 200px;
    }
    
    
    .language-btn {
        color: #fff;
        float: right;
    }
    
    .language-btn:hover {
        color: #387ef5;
        background-color: transparent !important;
    }
    
    
    
}
