<div class="manage-content">
  <div class="manage-header">
    <h2>{{ combo?.id ? ('combo.titleEdit' | translate) : ('combo.titleCreate' | translate) }}
    </h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>

  <div *ngIf="combo" class="comContentContainer">
    <div class="row textAlignment">
            Nulla facilisi. Sed finibus in felis placerat semper. In bibendum nibh ac tellus elementum, eget mollis urna condimentum. Aenean nec ornare leo.
    </div>
    <div class="row">
        <!-- step title: define combo -->
        <div class="col-md-3 comStepTitleCell">
            <h6>define</h6>
            <h3>COMBO</h3>
        </div>
        <!-- step description -->
        <div class="col-md-7 comStepDescriptionCell">
            Nulla facilisi. Sed finibus in felis placerat semper. In bibendum nibh ac tellus elementum, eget mollis urna condimentum. Aenean nec ornare leo.
        </div>
    </div>
    <form (ngSubmit)="addAndUpdate()" id="comboForm" role="form">
      <div class="form-group bottomSpacing">
        <label>Name</label>
        <input id="name" class="form-control" name="name"
          placeholder="combo #1" required
          [(ngModel)]="combo?.selectedTranslation.name" #name="ngModel"
          [ngClass]="{'form-error': !name.valid && !name.pristine}">
        <!--<input id="name" class="form-control" name="name"
          placeholder="{{'combo.comboNameFieldHolder' | translate}}"
          required
          [(ngModel)]="combo?.selectedTranslation.name" #name="ngModel"
          [ngClass]="{'form-error': !name.valid && !name.pristine}">-->
        <label>Description</label>
        <input id="description" rows="3" class="form-control" name="description"
          placeholder="combo #1 includes..." required
            [(ngModel)]="combo?.selectedTranslation.description">
        <!--<input id="description" class="form-control" name="description"
          placeholder="{{'combo.comboDescriptionFieldHolder' | translate}}"
          required
            [(ngModel)]="combo?.selectedTranslation.description" #name="ngModel"
            [ngClass]="{'form-error': !description.valid && !name.pristine}">-->
      </div>

     <!-- step header : choose category-->
      <div class="row">
        <!-- step title -->
        <div class="col-md-3 comStepTitleCell">
            <h6>choose</h6>
            <h3>CATEGORY</h3>
        </div>
        <!-- step description -->
        <div class="col-md-7 comStepDescriptionCell">
             Nulla facilisi. Sed finibus in felis placerat semper. In bibendum nibh ac tellus elementum, eget mollis urna condimentum. Aenean nec ornare leo.
        </div>
      </div>
    <!-- step content-->
      <div class="row">
        <div class="col-md-10 bottomSpacing">
            <h5>Category list:</h5>
            <div class="btn-group" data-toggle="buttons" role="group"><!--class="btn btn-secondary"  [className]="cssClass" [ngClass]="{'selectedStyle': isVisibleSS, 'notSelectedStyle': !isVisibleSS}"-->
              <label *ngFor="let category of categories; let i = index" [attr.id]=i [className]="cssClass" [ngClass]="{'selectedStyle': isVisibleSS, 'notSelectedStyle': !isVisibleSS}">
                <input type="checkbox" (click)="saveCategory(category, i)"> {{ category.selectedTranslation ? category.selectedTranslation.name : "No translation" }}
              </label>
              <!--<input class="btn btn-secondary" id="e" type="reset" value="No Category" (click)="nocat()">-->
            </div>
        </div>
      </div>


     <!-- step header : link food item -->
      <div class="row">
        <!-- step title -->
        <div class="col-md-3 comStepTitleCell">
            <h6>link</h6>
            <h3>FOOD ITEM</h3>
        </div>
        <!-- step description -->
        <div class="col-md-7 comStepDescriptionCell">
             Nulla facilisi. Sed finibus in felis placerat semper. In bibendum nibh ac tellus elementum, eget mollis urna condimentum. Aenean nec ornare leo.
        </div>
      </div>
    <!-- step content-->

    <!-- SELECTED CAT ---->
      <div *ngIf="catToFill?.length > 0" class="row">
        <br/>
        <div class="col-md-10">
            <h5>Selected categories:</h5>
            <div class="btn-group" data-toggle="buttons" role="group">
              <label *ngFor="let category of catToFill; let i = index" class="btn btn-secondary">
                <input type="checkbox" (click)="fillCatSelected(category, i)"> {{ category.selectedTranslation ? category.selectedTranslation.name : "No translation" }}
              </label>
            </div>
          <br/>
        </div>
      </div>
      <!--- EO SELECTED CAT -->

    <div *ngIf="items && catToFill?.length > 0 && categoryShowing?.selectedTranslation" class="row bottomSpacing">
      <div class="col-md-6">
        <label>Available Food Items</label>
        <ul class="list-group scrollable-list">
          <li *ngFor="let item of items" class="list-group-item"> {{item.selectedTranslation?.name}} ({{item.sizes[0]?.translations[0]?.name}})
            <i class="fa fa-chevron-circle-right icon-add icon-align fa-pull-right"
                (click)="addItemToCategory(item)"></i>
          </li>
        </ul>
        <div [hidden]="items.length != 0">
          <i class="fa fa-exclamation-circle"></i> There are no items left to add
        </div>
      </div>

      <div class="col-md-6">
        <label>Food Items In Category {{ categoryShowing.selectedTranslation ? categoryShowing.selectedTranslation.name : "No translation" }} </label>
        <ul class="list-group scrollable-list">
          <li *ngFor="let item of categoryShowing?.items" class="list-group-item"> {{item.selectedTranslation?.name}} ({{item.sizes[0]?.translations[0]?.name}})
            <i class="fa fa-times-circle icon-remove icon-align fa-pull-right"
                (click)="removeItemFromCategory(item)"></i>
          </li>
        </ul>
        <div [hidden]="categoryShowing?.items.length != 0">
          <i class="fa fa-exclamation-circle"></i> Add some food items to this category
        </div>
      </div>
    </div>


     <!-- step header : determine pricing -->
      <div *ngIf="false" class="row">
        <!-- step title -->
        <div class="col-md-3 comStepTitleCell">
            <h6>determine</h6>
            <h3>PRICING</h3>
        </div>
        <!-- step description -->
        <div class="col-md-7 comStepDescriptionCell">
             Nulla facilisi. Sed finibus in felis placerat semper. In bibendum nibh ac tellus elementum, eget mollis urna condimentum. Aenean nec ornare leo.
        </div>
      </div>
    <!-- step content-->
      <div *ngIf="false" class="row">
        <div class="col-md-10 bottomSpacing">
            <h5>Select the type of pricing:</h5>
            <div class="radio">
                <label class="radio-inline"><input type="radio" name="radioprice" id="pricetype" (click)="priceTypeSelected(1)"> Discount by dollar amount</label>
                <label class="radio-inline"><input type="radio" name="radioprice" id="pricetype" (click)="priceTypeSelected(2)"> Discount by percentage </label>
                <label class="radio-inline"><input type="radio" name="radioprice" id="pricetype" (click)="priceTypeSelected(3)"> Fixed price</label>
            </div>
            <hr/>
            <div *ngIf="priceSelected">
                <label *ngIf="dollarAmount">Enter the discount dollar amount:</label>
                <label *ngIf="percDisc">Enter the amount of percentage of discount:</label>
                <label *ngIf="fixedPrice">Enter the fixed price:</label>
                <input id="priceNumber" class="form-control" name="priceNumber" placeholder="E.g.: 2">
                <!--<input id="name" class="form-control" name="name"
                placeholder="{{'combo.comboNameFieldHolder' | translate}}"
                required
                [(ngModel)]="combo?.selectedTranslation.name" #name="ngModel"
                [ngClass]="{'form-error': !name.valid && !name.pristine}">-->
            </div>
        </div>
      </div>


      <!--<div class="row"> <!-- do mettre *ngIf="items" dans le tag apres
        <div class="col-md-6">
          <label>Available Food Items</label>
          <ul class="list-group scrollable-list">
            <li *ngFor="let item of items" class="list-group-item"> {{item.selectedTranslation?.name}}
              <i class="fa fa-chevron-circle-right icon-add icon-align fa-pull-right"
                 (click)="addItemToCombo(item)"></i>
            </li>
          </ul>
          <div [hidden]="items.length != 0">
            <i class="fa fa-exclamation-circle"></i> There are no items left to add
          </div>
        </div>
        <div class="col-md-6">
          <label>Food Items In Combo</label>
          <ul class="list-group scrollable-list">
            <li *ngFor="let item of combo.items" class="list-group-item"> {{item.selectedTranslation?.name}}
              <i class="fa fa-times-circle icon-remove icon-align fa-pull-right"
                 (click)="removeItemFromCombo(item)"></i>
            </li>
          </ul>
          <div [hidden]="combo.items.length != 0">
            <i class="fa fa-exclamation-circle"></i> Add some food items to this combo
          </div>
        </div>
      </div>-->

      <div class="row">
        <div class="manage-button">
          <button *ngIf="!create" class="btn btn-success btn-green" type="submit">{{'combo.saveButton' | translate}}</button>
          <button *ngIf="!create" type="button" (click)="delete()" class="btn btn-danger btn-red" >{{'combo.deleteButton' | translate}}</button>
          <button *ngIf="create" class="btn btn-success btn-green" type="submit">{{'combo.createButtonTopbar' | translate}}</button>
          <button class="btn btn-default btn-normal" (click)="cancel()" type="button">{{'combo.cancelButtonTopbar' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
