<div id="restaurant">
  <div class="manage-header">
    <h2>{{ 'unpaidOrders.title' | translate }}</h2>
    <translation-select-cmp></translation-select-cmp>
    <hr>
  </div>
  <div class="manage-list-container">
    <div class="row">
      <div class="col-sm-3"> <!-- Going to repeat '*ngFor let order of orders' -->
        <div class="card card-primary card-inverse">
          <div class="card-block">
            <h4 class="card-title">Order #5</h4>
            <button class="btn btn-success">Paid</button> <!-- Will call function 'paid(order)' to save order to db and remove from list/cache -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1 M x2</li> <!-- Will repeat for each item in order '*ngFor let item of order.items' -->
            <li class="list-group-item">Item 2 L x1</li>
            <li class="list-group-item">Item 3 S x5</li>
          </ul>
          <div class="card-block">
            <h6 class="card-title">Total: 8$</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="manage-list-container col col-md-5">
		<table class="table table-sm td-size-table">
  			<thead>
  				<tr>
  					<th>Order Number</th>
  					<th>Price</th>
  					<th>Items</th>
  					<th>Status</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr *ngFor= "let item of items">
  					<td>{{item.translations[0].name}}</td>
  					<td>10.00$</td>
  					<td><button class="btn btn-default btn-normal">View Items</button></td>
  					<td><button class="btn btn-success">Paid</button></td>
  				</tr>
  			</tbody>
  		</table>
  	</div>
-->
</div>