<div id="restaurant">
  <div class="manage-header">
    <h2>{{ 'unpaidOrders.title' | translate }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <div class="row">
      <div class="manage-button">
        <button class="btn btn-default btn-normal" (click)="itemVisible()" >Toggle item visibility</button>
      </div>
    </div>
    <hr>
  </div>
  <div class="manage-list-container">
    <div class="row">
      <div *ngFor="let order of orders">
        <div *ngIf="(order.status === 'notPaidNotComplete') || (restoMode === 'kco' && (order.status === 'notPaidNotComplete' || order.status === 'notPaidComplete'))" class="col-sm-3">
          <div class="card card-primary card-inverse">
            <div class="card-block">
            <h4 class="card-title">Order: {{order.id}} {{order.notifyOrderDetail}}</h4>
              <button class="btn btn-success" (click)="paid(order)">Paid</button>
              <button class="btn btn-danger" (click)="cancelOrder(order)">Cancel</button>
            </div>
            <ul [hidden] = "!itemsVisible" class="list-group list-group-flush">
              <li *ngFor="let orderedItem of order.orderedItems" class="list-group-item">
              {{orderedItem.item.selectedTranslation ? orderedItem.item.selectedTranslation.name : "No Translation"}}</li>
            </ul>
            <div class="card-block">
              <h6 class="card-title">Total: {{order.total.toFixed(2)}}$</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="manage-list-container col col-md-5">
		<table class="table table-sm td-size-table">
  			<thead>
  				<tr>
  					<th>Order Number</th>
  					<th>Price</th>
  					<th>Items</th>
  					<th>Status</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr *ngFor= "let item of items">
  					<td>{{item.translations[0].name}}</td>
  					<td>10.00$</td>
  					<td><button class="btn btn-default btn-normal">View Items</button></td>
  					<td><button class="btn btn-success">Paid</button></td>
  				</tr>
  			</tbody>
  		</table>
  	</div>
-->
</div>
