<div class="manage-content">
  <div class="manage-header">
    <h2>{{ category?.id ? ('category.titleEdit' | translate) : ('category.titleCreate' | translate) }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div *ngIf="category" class="form-container">
    <form (ngSubmit)="addAndUpdate()" id="categoryForm" role="form" #categoryForm="ngForm">

      <div class="form-group">
        <label>{{'category.catName' | translate}}</label>
        <input id="name" class="form-control" name="name"
          placeholder="{{'category.catNameFieldHolder' | translate}}"
          required
               [(ngModel)]="category?.selectedTranslation.name" #name="ngModel"
          [ngClass]="{'form-error': !name.valid && !name.pristine}">
      </div>

      <div *ngIf="items" class="row">
        <div class="col-md-6">
          <label>Available Food Items</label>
          <ul class="list-group scrollable-list">
            <li *ngFor="let item of items" class="list-group-item"> {{item.selectedTranslation?.name}}
              <i class="fa fa-chevron-circle-right icon-add icon-align fa-pull-right"
                 (click)="addItemToCategory(item)"></i>
            </li>
          </ul>
          <div [hidden]="items.length != 0">
            <i class="fa fa-exclamation-circle"></i> There are no items left to add
          </div>
        </div>
        <div class="col-md-6">
          <label>Food Items In Category</label>
          <ul class="list-group scrollable-list">
            <li *ngFor="let item of category.items" class="list-group-item"> {{item.selectedTranslation?.name}}
              <i class="fa fa-times-circle icon-remove icon-align fa-pull-right"
                 (click)="removeItemFromCategory(item)"></i>
            </li>
          </ul>
          <div [hidden]="category.items.length != 0">
            <i class="fa fa-exclamation-circle"></i> Add some food items to this category
          </div>
        </div>
      </div>

      <div class="row">
        <div class="manage-button">
          <button *ngIf="!create" class="btn btn-success btn-green" type="submit">{{'category.saveButton' | translate}}</button>
          <button *ngIf="!create" id="deleteCategoryBtn" type="button" (click)="delete()" class="btn btn-danger btn-red" >{{'category.deleteButton' | translate}}</button>
          <button id="addMoreBtn" *ngIf="create" type="button" (click)="addMoreStep(); categoryForm.reset()" class="btn btn-success btn-green">+ Add another Category
          </button>
          <button *ngIf="create" id="createCategoryBtn" class="btn btn-success btn-green" type="submit">{{'category.createButtonTopbar' | translate}}</button>
          <button class="btn btn-default btn-normal" (click)="cancel()" type="button">{{'category.cancelButtonTopbar' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
