<div class="manage-content">
  <div class="manage-header">
    <h2>{{create? ('foodItem.titleCreate' | translate) : ('foodItem.titleEdit' | translate) }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div *ngIf="item" class="manage-list-container">
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="name">{{ 'foodItem.foodItemName' | translate }}</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="item.selectedTranslation.name" name="name"
                   #name="ngModel">
          </div>

          <div class="form-group">
            <label for="name">{{ 'foodItem.foodItemDescription' | translate }}</label>
            <textarea type="text" rows="3" class="form-control" id="description"
                      [(ngModel)]="item.selectedTranslation.description" name="description"
                      #description="ngModel"></textarea>
          </div>
          <div>
            <table class="table table-sm td-size-table">
              <thead>
              <tr>
                <th>{{ 'foodItem.foodItemSize' | translate }}</th>
                <th>{{ 'foodItem.foodItemPrice' | translate }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr class="td-size-input" *ngFor="let size of item.sizes; let i = index">
                <!--<td>{{size.name}}</td>-->
                <!--<td>{{size.price | currency:'USD':true:'1.2-2'}}</td>-->
                <td><input class="form-control" type="text" [(ngModel)]="size.selectedTranslation.name" name="sizeName{{i}}"
                           placeholder="Size Name">
                </td>
                <td>
                  <div class="input-group"><span class="input-group-addon">$</span>
                    <input class="form-control" #price="ngModel" [(ngModel)]="size.price" name="price{{i}}"
                           type="number">
                  </div>
                </td>

                <td>
                  <button class="fa fa-times-circle icon-remove icon-align" (click)="removeSize(size)"></button>
                </td>
              </tr>
              <tr class="td-size-input">
                <td><input class="form-control" type="text" [(ngModel)]="size.selectedTranslation.name" name="sizeName"
                           placeholder="Size Name">
                </td>
                <td>
                  <div class="input-group"><span class="input-group-addon">$</span>
                    <input class="form-control" #price="ngModel" id="price" [(ngModel)]="size.price" name="price"
                           type="number">
                  </div>
                </td>
                <td>
                  <button class="fa fa-plus-circle icon-add icon-align" [disabled]="!size.selectedTranslation.name"
                          (click)="addSize()"></button>
                </td>
              </tr>
              </tbody>
            </table>
            <div [hidden]="item.sizes != 0">
              <i class="fa fa-exclamation-circle"></i> {{ 'foodItem.foodItemSizeWarningDetail' | translate }}
            </div>
          </div>

          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            {{ 'foodItem.foodItemNameAlert' | translate }}
          </div>

        </div>
        <div class="col-sm-3 image-crop-div">
          <img-cropper [(hidden)]="pictureMode != pictureModes.Crop"
                       class="card-img-top img-thumbnail img-thumbnail-cust item-image-upload"
                       [image]="croppedImageContainer" [settings]="cropperSettings">
          </img-cropper>

          <span class="result" *ngIf="pictureMode != pictureModes.Crop">
          <img [src]="croppedImage" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span>
          <div style="width: 300px">
            <button class="btn-upload-image btn-primary btn" type="button" (click)="selectFile()">
              {{pictureMode != pictureModes.Crop ? pictureMode == pictureModes.CropSelected?
              ('foodItem.foodItemRecroppedImgMsg' | translate): pictureMode == pictureModes.Select?
              ('foodItem.foodItemAddImgMsg' | translate): ('foodItem.foodItemChangeImgMsg' | translate):
              ('foodItem.foodItemSelectCroppedImgMsg' | translate)}}
            </button><!--
          --><button class="btn btn-danger fa fa-times-circle btn-clear-image" type="button"
                    (click)="clearImage()"></button>
          </div>
          <input style="display: none;" type="file" name="itemImage" class="item-image-select"
                 (change)="onChange($event)" title="Upload an image for this item" accept="image/*"/>
        </div>
      </div>
      <div class="row">
        <div [hidden]="item.ingredientGroups.length <= 1" class="col-sm-12">
          <i class="fa fa-exclamation-circle"></i> The ingredient groups below will be displayed in the order as shown
          below to the customer <br>
          Use the up and down arrow to change the order of an ingredient group with another one
        </div>
        <div class="col-sm-12">
          <div class="row ingredient-group-div" *ngFor="let newIngredientGroup of item.ingredientGroups; let i = index">
            <div [hidden]="item.ingredientGroups.length <= 1" style="width: 70px;"
                 class="col-sm-1 ingredient-group-button-div">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-primary ingredient-group-up-button"
                        (click)="changeOrder(newIngredientGroup, -1)"><i class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-primary ingredient-group-middle-button">
                  {{newIngredientGroup.orderPriority}}
                </button>
                <button type="button" class="btn btn-primary ingredient-group-down-button"
                        (click)="changeOrder(newIngredientGroup, 1)"><i class="fa fa-chevron-down"></i></button>
              </div>
            </div>
            <div class=" col-sm-2">
              <div class="form-group">
                <label for="name">Ingredient Group Name</label>
                <input type="text" class="form-control"
                       required
                       [(ngModel)]="newIngredientGroup.name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label>Max num of ingredients</label>
                <input class="form-control" min="1" #newIngredientPrice="ngModel"
                       [(ngModel)]="newIngredientGroup.maxNumberOfIngredients" [ngModelOptions]="{standalone: true}"
                       type="number">
              </div>
              <div class="form-group">
                <label>Min num of ingredients</label>
                <input class="form-control" min="0" [max]="newIngredientGroup.maxNumberOfIngredients"
                       #newIngredientPrice="ngModel" [(ngModel)]="newIngredientGroup.minNumberOfIngredients"
                       [ngModelOptions]="{standalone: true}"
                       type="number">
              </div>
            </div>
            <div class="col-sm-9">
              <table class="table table-sm td-size-table">
                <thead>
                <tr>
                  <th class="add-by-default-table">Add By Default</th>
                  <th class="add-by-default-table">Allow Quantity</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>
                    <button class="fa fa-times-circle icon-remove icon-align" type="button"
                            (click)="removeIngredientGroup(newIngredientGroup)"></button>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingredient of newIngredientGroup.ingredients; let k = index">
                  <td class="add-by-default-table">{{ingredient.addByDefault? 'Yes': 'No'}}</td>
                  <td>{{ingredient.allowQuantity}}</td>
                  <td>{{ingredient.name}}</td>
                  <td>{{ingredient.price | currency:'USD':true:'1.2-2'}}</td>
                  <td>
                    <button class="fa fa-times-circle icon-remove icon-align" type="button"
                            (click)="removeIngredient(newIngredientGroup, ingredient)"></button>
                  </td>
                </tr>
                <tr class="td-size-input">
                  <td><input class="form-control" type="checkbox"
                             [(ngModel)]="newIngredientGroup.newIngredient.addByDefault"
                             name="ingredientAddByDefault{{i}}">
                  </td>
                  <td><input class="form-control" #allowQuantity="ngModel" id="allowQuantity"
                             [(ngModel)]="newIngredientGroup.newIngredient.allowQuantity" min="1"
                             name="allowQuantity{{i}}" type="number"></td>
                  <td><input class="form-control" type="text" [(ngModel)]="newIngredientGroup.newIngredient.name"
                             name="ingredientName{{i}}"
                             placeholder="Ingredient Name">
                  </td>
                  <td>
                    <div class="input-group"><span class="input-group-addon">$</span>
                      <input class="form-control" #price="ngModel"
                             [(ngModel)]="newIngredientGroup.newIngredient.price" name="ingredientPrice{{i}}"
                             type="number">
                    </div>
                  </td>
                  <td>
                    <button class="fa fa-plus-circle icon-add icon-align" type="button"
                            [disabled]="!newIngredientGroup.newIngredient.name"
                            (click)="addIngredient(newIngredientGroup, newIngredientGroup.newIngredient)"></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12 add-ingredient-button">
            <button class="btn btn-success btn-green" (click)="addIngredientGroup()" type="button">Add Ingredient Group
            </button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="manage-button">
          <button type="submit" class="btn btn-success btn-green"
                  [disabled]="!itemForm.form.valid">{{ create? ('foodItem.createButtonTopbar'
            | translate) : ('foodItem.saveButton' | translate)}}
          </button>
          <button *ngIf="!create" type="button" (click)="deleteItem()" class="btn btn-danger btn-red">{{
            'foodItem.deleteButton' | translate }}
          </button>
          <button class="btn btn-default btn-normal" (click)="cancelItem()" type="button">{{
            'foodItem.cancelButtonTopbar' | translate }}
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="uploading" class="row progress-div">
      <progress class="progress progress-success progress-striped progress-animated" max="100"
                [(value)]="progress"></progress>
    </div>
  </div>
</div>
