<div class="manage-content">
  <div class="manage-header">
    <h2>{{ category?.id ? ('category.titleEdit' | translate) : ('category.titleCreate' | translate) }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div *ngIf="category" class="formContainer">
    <form id="categoryForm" role="form">

      <div class="form-group">
        <label>{{'category.catName' | translate}}</label>
        <input id="name" class="form-control" name="name" placeholder="{{'category.catNameFieldHolder' | translate}}"
               [(ngModel)]="category?.selectedTranslation.name">
      </div>

      <div class="row">
        <div class="manage-button">
          <button *ngIf="!create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">
            {{'category.saveButton' | translate}}
          </button>
          <button *ngIf="!create" type="button" (click)="delete()" class="btn btn-danger btn-red">
            {{'category.deleteButton' | translate}}
          </button>
          <button *ngIf="create" (click)="addAndUpdate()" class="btn btn-success btn-green" type="button">
            {{'category.createButtonTopbar' | translate}}
          </button>
          <button class="btn btn-default btn-normal" (click)="cancel()" type="button">{{'category.cancelButtonTopbar' |
            translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
