<div class="container-fluid">
  <h1 class="page-header">Menus <span class="label label-default"> {{ numOfMenus }} </span></h1>
  <div class="container-fluid">
    <div  class="row">
      <div class="col-lg-3" *ngFor="let menu of menus; let i = index">
        <div (click)="modify(menu)" class="card card-primary card-inverse">
          <div class="card-header card-primary">
            {{ menu.name }}
          </div>
          <div class="card-block bg-white"></div>
        </div>
      </div>

      <div class="col-lg-3">
        <button (click)="add()" class="btn btn-success">Add</button>
      </div>

    </div>
  </div>

</div>
