<div class="container-fluid">
  <h4>Restaurants</h4>
  <div class="row">
    <div class="col-sm-4">
      <div *ngFor="let restaurant of restaurants" class="card card-primary card-inverse">
        <div class="card-header card-primary">
          {{ restaurant.name }}
        </div>
        <div class="card-block bg-white">
          {{ restaurant.description }}
        </div>
      </div>
      <button class="btn btn-lg btn-success">
        Add Restaurant
      </button>
    </div>
  </div>
</div>
