
<div id="homepage">
    <div class="home-inside">
        <h1>Welcome to your dashboard, John.</h1>
        <h4>What would you like to do today?</h4>
     <div class="row resto">
        <div class="col col-md-9">
         Coffee To Go<br>
            1 rue Principal<br>
            Current Sales: $1000.00
        </div>
        <div class="col col-md-3">
         <button class="btn btn-default btn-circle">
            <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-default btn-circle"><i class="fa fa-trash-o"></i></button>
         </div>
    </div>
    
    </div>
    
   
    
</div>