@import "../bootstrap/variables.scss";
@import "app-base.scss";
@import "category.scss";
@import "login.scss";
@import "menu-list.scss";
@import "menu.scss";
@import "restaurant.scss";
@import "restaurant-list.scss";
@import "home.scss";

html, body {
    height: 100%;
}
.icon-remove {
  font-weight: normal;
  color: $brand-danger;
  border-radius: 0;
  border-color: transparent;
  background: transparent;

  &:hover {
    cursor: pointer;
    color: #c9302c;
  }

  &:active {
    cursor: pointer;
    color: #c9302c;
  }

}
