.td-size-input {
  td {
    padding-bottom: 0px !important;
    vertical-align: middle;

  }



}
.td-size-table {
  td, th {
    border-top: transparent !important;
  }
}

.item-image-upload {
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
}

.upload-image-div {
  width: 300px;
  opacity: .6;
  background-color: black;
  position: relative;
  top: -50px;
  height: 50px;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 50px;
}
