#restaurant {
    background-color: #f3f3f3;
    height: 100%;
    position: absolute;
    min-width: 90%;
    overflow-x: hidden;   
}

.manage-header {
//    background-color: #cae4e4; 
    padding: 30px 30px;
}

.formContainer {
    padding: 30px 30px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-error {
  border-color: red;
}

.icon-align {
  vertical-align: middle;
  font-size: 1.33333333em;
  line-height: 1em;
}

