<h1>Categories</h1>
<form>
    <input #newCatField type="text"  (keyup.enter)="addNewCatClick(newCatField.value)"/>
    <button class="btn btn-success" (click)="addNewCatClick($event,newCatField.value)">Add</button>
</form>

<div class="row cat-container">
  <div *ngFor="let category of categories">
    <div class="col col-md-3 thumbnail">
        <div class="category" (click)="changeInput()">
            <i class="fa fa-fw fa-close cat-delete" (click)="deleteCatClick($event,category.id)"></i>
            <i class="fa fa-fw fa-cutlery cat-icon"></i>
            <div class="cat-label" [hidden]="isEditable">{{ category.categoryName}}</div>
            <div class="cat-label-input" *ngIf="isEditable">
                <input #editCatField type="text" value="{{category.categoryName}}" (keyup.enter)="updateCatClick($event,editCatField.value,category.id)"/>
            </div>
        </div>
    </div>
  </div>
</div>
