<div id="restaurant">
  <div class="manage-header">
    <h2>{{ 'kitchen.title' | translate }}</h2>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div class="manage-list-container">
    <div class="row">
      <div *ngFor="let order of orders">
      	<div *ngIf="(restoMode === 'kce' && order.status === 'paid') || (restoMode === 'kco')" class="col-sm-3">
	        <div class="card card-primary card-inverse">
	          <div class="card-block">
	            <h4 class="card-title">Order: {{order.notifyOrderDetail}}</h4>
              <h6 class="card-title">Status: {{order.status}}</h6>
	            <button class="btn btn-success">Complete Order</button>
	          </div>
	          <ul class="list-group list-group-flush">
	            <li *ngFor="let orderedItem of order.orderedItems" class="list-group-item">
	            {{orderedItem.item.selectedTranslation ? orderedItem.item.selectedTranslation.name : "No Translation"}}
              <ul>
                <li *ngFor="let size of orderedItem.sizes">
                  {{size.size.selectedTranslation ? size.size.selectedTranslation.name : "No Translation"}}
                  <ul>
                    <li *ngFor="let ingredientGroup of orderedItem.item.ingredientGroups">
                      {{ingredientGroup.selectedTranslation ? ingredientGroup.selectedTranslation.name : "No Translation"}}
                      <ul>
                        <li *ngFor="let ingredient of ingredientGroup.ingredients">
                          {{ingredient.translations ? ingredient.translations[0].name : "No Translation"}}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              </li>
	          </ul>

	        </div>
	    </div>
      </div>
    </div>
  </div>

</div>
