<div *ngIf="!selectedStationInfo[1]" id="restaurant">
  <div class="manage-header">
    <h3>Select Kitchen Station</h3>
    <hr>
  </div>
  <div class="manage-list">
  <div class="manage-list-container">
      <div (click)="stationSelect(station.id, i)" *ngFor="let station of stationList; let i = index" class="card card-block">
        <h4 class="card-title"> Station: {{ station.name }}</h4>
      </div>
  </div>
</div>
</div>

<div *ngIf="selectedStationInfo[1]" id="restaurant">
  <div class="manage-header">
    <h3>{{ 'kitchen.title' | translate }} for station: {{ selectedStationInfo[0] }}</h3>
    <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
    <hr>
  </div>
  <div class="manage-list-container">
    <button type="button" (click)="goBack()" class="btn btn-success">Back</button><br/>
    <div class="row">
      <div *ngFor="let order of orders">
      	<div *ngIf="(restoMode === 'kce' && order.status === 'paid') || (restoMode === 'kco')" class="col-sm-3">
	        <div *ngIf="order.orderedItems.length > 0" class="card card-primary card-inverse">
	          <div class="card-block">
	            <h4 class="card-title">Order: {{order.notifyOrderDetail}}</h4>
              <h6 class="card-title">Status: {{order.status}}</h6>
	            <button class="btn btn-success" (click)="completeOrder(order)">Complete Order</button>
	          </div>
	          <ul class="list-group list-group-flush">
	            <li *ngFor="let orderedItem of order.orderedItems" class="list-group-item">
	            {{orderedItem.item.selectedTranslation ? orderedItem.item.selectedTranslation.name : "No Translation"}}
              <ul>
                <li *ngFor="let size of orderedItem.sizes">
                  {{size.size.selectedTranslation ? size.size.selectedTranslation.name : "No Translation"}}
                  <ul>
                    <li *ngFor="let ingredientGroup of orderedItem.item.ingredientGroups">
                      {{ingredientGroup.selectedTranslation ? ingredientGroup.selectedTranslation.name : "No Translation"}}
                      <ul>
                        <li *ngFor="let ingredient of ingredientGroup.ingredients">
                          {{ingredient.translations ? ingredient.translations[0].name : "No Translation"}}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              </li>
	          </ul>
	        </div>
	    </div>
      </div>
    </div>
  </div>

</div>
