.comContentContainer{
    padding: 150px 30px 0;
    position: absolute;
    background-color: #f3f3f3;
    width: 84.5%;
}

.textAlignment{
    padding: 2%;
    margin-bottom: 4%;
}

.comStepTitleCell{
    border-top: 25px solid black;
    padding-top: 5px;
    margin-bottom:10px;
}

.comStepDescriptionCell{
    padding-top: 30px;
    padding-left:10px;
}