#homeContainer {
    background-image: url('../assets/img/flatlay_lg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	height: 100%;
//	width: 700px;
    color: white;
    position: absolute;
    min-width: 90%;
    overflow-x: hidden;

    h1, h3, h4 {
//        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
    }
}

//section.main-container:has(> home-cmp) {
//    padding: 0;
//}

.home-inside {
    background-color: rgba(0,0,0,0.4);
    height: inherit;
    padding: 110px 30px 0;
}

.resto {
    background-color: rgba(34, 34, 34,0.8);
    border: 1px solid rgb(34, 34, 34);
    height: 100px;
    padding: 9px 5px;
    border-radius: 11px;
    margin: 50px 0 0 0;
    width: 50%;

    .resto-name {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;

    }

    .resto-address {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: -2px;
        border-top: 1px solid white;
        padding-top: 2px;

    }
    .resto-sales {
        font-family: 'Montserrat';
        margin-top: 14px;
        font-size: 16px;
    }

}

.sidebar-logo {
    text-align: center;
    /* padding: 10px; */
    /* width: 100%; */
    position: relative;
    display: block;
    margin-bottom: 56px;
    margin-top: -2px;
}

