.item-container {
  width: 250px;
  height: 300px;
  text-align: center;
  margin-bottom: 5px;
  overflow: hidden;


  .item-img-container {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;

    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;


    img {
      max-width: 200px;
      max-height: 200px;
    }

  }

  &:hover {
    cursor: pointer;
  }

  p, div {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.img-thumbnail-cust {
    padding: 0;
    border: 0;
    text-align: center;
}

#ascending-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  margin-bottom: 20px;
}

.item-name {
  text-overflow: clip;
  overflow: hidden;
  display: block;
  white-space: nowrap
}

.filter-label {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}

.filter-input {
  width: 30%;
  /*display: inline-block;*/
}
