/* Login */
.loginPageContainer{
	background-image: url('../assets/img/background-restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	height: 100%;


    input[type=text], input[type=email], input[type=password]  {
        border: 2px solid white;
        border-radius: 5px;
        background-color: transparent;
        padding: 2%;
        width: 320px;
        color: white;
        margin: 0 auto;
    }

}

.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15%;
}

.loginFormContainer{
	background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: inherit;
}

.loginFormNav{
	height:30px;
	text-align:right;
	padding: 10px 40px 0 0;
	color:white;

  a {
    color: white;
  }
  a:hover{
    color:red;
  }
}

.loginPageContent{
	padding: 0 23px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loginFormHeader {
    text-align: center;
}
.loginPageTitle{
	font-size:76px;
	font-weight:bold;
	color: white;
    font-family: 'Open Sans', sans-serif;
}

.loginPageBodyText{
	font-size:15px;
	color: white;
    margin: -6px 0 30px;
}

/* Forms */

.loginBtn{
//	background-color: rgba(0, 255, 0, 0.4);
	width: 320px;
}



::-webkit-input-placeholder {
	color: rgb(200,200,200);
}
:-moz-placeholder { /* Firefox 18- */
	color: rgb(200,200,200);
}
::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(200,200,200);
}
:-ms-input-placeholder {
	color: rgb(200,200,200);
}


select{
    background-color: transparent;
    border: none;
}
