.manage-content {
    background-color: #f3f3f3;
    height: 100%;
//    position: absolute;
//    min-width: 90%;
    overflow-x: hidden;

    .form-container {
        height: 100%;
    }
}

.form-container {
    padding: 190px 30px 0;
    position: absolute;
    background-color: #f3f3f3;
    width: 84.5%;
}
