<div class="manage-header">
  <h2>Orders</h2>
  <translation-select-cmp (onSelectLanguage)="onSelectLanguage($event)"></translation-select-cmp>
  <hr>

</div>

<div class="manage-list-container">
  <div class="panel panel-default">


    <div class="col-xs-6">
      <label class="label-control">Show Orders for restaurant </label>
      <select class="form-control input-sm" [(ngModel)]="selectedRestaurant" (change)="onChangeRestaurant()">
        <option *ngFor="let restaurant of restaurants" [ngValue]="restaurant">{{restaurant.selectedTranslation.name}}</option>
      </select>
    </div>
    <table class="table table-striped" [mfData]="orders | dataFilter: filterQuery:selectedSearchOption"
           #mf="mfDataTable"
           [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
      <tr>
        <th style="width: 20%">
          <mfDefaultSorter by="id" style="color: black;">Id</mfDefaultSorter>
        </th>
        <th style="width: 20%">
          <mfDefaultSorter by="total">Total</mfDefaultSorter>
        </th>
        <th style="width: 20%">
          <mfDefaultSorter by="createdAt">Paid On</mfDefaultSorter>
        </th>
      </tr>
      <tr>
        <th colspan="5">
          Search by

          <span class="dropdown nav-item" dropdown>
            <a id="single-button" class="nav-link dropdown-toggle text-primary" href="javascript:;" dropdownToggle>
              {{selectedSearchOption}} <span class="caret"></span>
            </a>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
              <li *ngFor="let searchOption of searchOptions" role="menuitem"><a class="dropdown-item"
                                                                                href="javascript:;"
                                                                                (click)="selectedSearchOption = searchOption;">{{searchOption}}</a></li>
            </ul>
            </span>

          <input class="form-control" [(ngModel)]="filterQuery"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of mf.data">
        <td><a href="javascript:;" (click)="showOrderDetail(order)">{{order.id}}</a></td>
        <td>{{order.total | currency:'CAD':true}}</td>
        <td>{{order.createdAt | date:'short'}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,30]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>



