<div id="restaurant">
    <div class="manage-header">
    <h1>{{ restaurant?.id ? restaurant?.selectedTranslation?.name || 'Add a translation for the selected language': "Create Restaurant" }}</h1>
     <nav class="nav navbar-nav">
         <ul class="nav nav-pills">
      <li class="nav-item" role="presentation">
          <a class="nav-link active" href="/dashboard/restaurants/#">Basic Info</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard/restaurants/#">Business Hours</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard/restaurants/#">Menu</a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard/restaurants/#">Languages</a></li>
    </ul>
            </nav>
        
        <hr>
    </div>
<div class="formContainer">
<div class="row">
  <form id="restaurantForm" role="form">
    <div class="col-lg-6">
      <h4>General Information</h4>
      <div class="form-group">
        <label>Name</label>
        <input id="name" class="form-control" name="name" placeholder="Ex: Resto Touch Restaurant"
               value="{{restaurant?.selectedTranslation?.name }}">
      </div>

      <div class="form-group">
        <label>Description</label>
        <input id="description" class="form-control" name="description" placeholder="Enter Text"
               value="{{restaurant?.selectedTranslation?.description }}">
      </div>

      <div class="form-group">
        <label>Address</label>
        <input id="address" class="form-control" name="address"
               placeholder="Ex: 7141 Rue Sherbrooke O, Montréal, QC H4B 1R6" value="{{restaurant?.address }}">
      </div>
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#languageDiv" aria-expanded="false"
              aria-controls="languageDiv" (click)="toggleShowManageLanguage()">Manage Languages
      </button>
      <div [hidden]="hideManageLanguage">
        <ul class="list-group">
          <li *ngFor="let language of supportedLanguages" class="list-group-item"> {{language.name}}<i class="fa fa-remove icon-remove icon-align fa-pull-right" (click)="removeLanguage(language)"></i></li>
          <li class="list-group-item">
            <div class="input-group">
              <select name="language" class="form-control" [(ngModel)]="selectedLanguage">
                <option *ngFor="let language of languages" [ngValue]="language.languageCode">{{language.name}}</option>
              </select>
              <span class="input-group-btn">
              <button class="btn btn-primary" (click)="addLanguage()" type="button">Add</button>
            </span>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="!create" class="form-group">
        <div>
          <label>Menus</label>
        </div>
        <div class="btn-group-vertical btn-group-md">
          <button *ngFor="let menu of restaurant?.Menus;" (click)="openMenu(menu)" type="button" class="btn btn-secondary">{{ menu.name }}</button>
          <button (click)="addRemoveMenu()" type="button" class="btn btn-primary">Add/Remove</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h4>Opening Hours</h4>
      <div class="form-group">
        <h5>Monday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="mOpen" class="form-control" name="mOpen" placeholder="12:00" value="{{restaurant?.mOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="mClose" class="form-control" name="mClose" placeholder="12:00" value="{{restaurant?.mClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Tuesday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="tuOpen" class="form-control" name="tuOpen" placeholder="12:00" value="{{restaurant?.tuOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="tuClose" class="form-control" name="tuClose" placeholder="12:00"
                   value="{{restaurant?.tuClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Wednesday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="wOpen" class="form-control" name="wOpen" placeholder="12:00" value="{{restaurant?.wOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="wClose" class="form-control" name="wClose" placeholder="12:00" value="{{restaurant?.wClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Thursday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="thOpen" class="form-control" name="thOpen" placeholder="12:00" value="{{restaurant?.thOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="thClose" class="form-control" name="thClose" placeholder="12:00"
                   value="{{restaurant?.thClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Friday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="fOpen" class="form-control" name="fOpen" placeholder="12:00" value="{{restaurant?.fOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="fClose" class="form-control" name="fClose" placeholder="12:00" value="{{restaurant?.fClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Saturday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="saOpen" class="form-control" name="saOpen" placeholder="12:00" value="{{restaurant?.saOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="saClose" class="form-control" name="saClose" placeholder="12:00"
                   value="{{restaurant?.saClose }}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Sunday</h5>
        <div class="row">
          <div class="col-lg-6">
            <label>Open</label>
            <input id="suOpen" class="form-control" name="suOpen" placeholder="12:00" value="{{restaurant?.suOpen }}">
          </div>
          <div class="col-lg-6">
            <label>Close</label>
            <input id="suClose" class="form-control" name="suClose" placeholder="12:00"
                   value="{{restaurant?.suClose }}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-12">
    <button *ngIf="!create" (click)="addAndUpdate()" class="btn btn-primary">Confirm</button>
    <button *ngIf="!create" (click)="delete()" class="btn btn-danger">Delete</button>
    <button *ngIf="create" (click)="addAndUpdate()" class="btn btn-success">Create</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </div>
</div>
    </div>
    </div>